#dmnTestingInputVarsForm input {
    width: 20%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 175px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.container {
    position: relative;
    display: inline-block;
}

.row {
    font-size: 13px;
}

.plugin-dropzone {
  height: 100%;
  width: 100%;
}

.plugin-dropzone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 120px 50px;
  background: var(--color-ffffff-opacity-80);
  pointer-events: none;
  z-index: 1000;
}

.plugin-dropzone-overlay .box {
  text-align: center;
  border: dashed 4px var(--color-dddddd);
  height: 100%;
  vertical-align: middle;
}

.plugin-dropzone-overlay .box > div {
  font-size: 26px;
  color: var(--color-999999);
  margin: auto;
  top: 45%;
  position: relative;
}
